.my__Profile {
    /* position: absolute; */
    margin-top: 0%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
  }
  .pp{
    display: flex;
      flex-direction: column;
      align-items: center;
      font-style: bold;
      font-size: 40px;
  
  }
  .container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.contained {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}